<h1>Cadastrar Novo Técnico</h1>
<form class="form">
    <mat-form-field class="full-width ">
        <mat-label>Nome:</mat-label>
        <input [(ngModel)]="tecnico.nome" name="nome" [formControl]="nome" required maxlength="100" matInput placeholder="Ex. Tomas">
        <mat-error *ngIf="nome.invalid">{{ errorValidateNome() }}</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>CPF:</mat-label>
        <input [(ngModel)]="tecnico.cpf" name="cpf" [formControl]="cpf" required matInput maxlength="15" placeholder="000.000.000-00">
        <mat-error *ngIf="cpf.invalid">{{ errorValidateCpf() }}</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Telefone:</mat-label>
        <input [(ngModel)]="tecnico.telefone" name="telefone" [formControl]="telefone" required matInput maxlength="18" placeholder="(84)98888-8888">
        <mat-error *ngIf="telefone.invalid">{{ errorValidateTelefone() }}</mat-error>
    </mat-form-field>
    <button class="mat-elevation-z1 container" mat-button color="primary" (click)="create()" [disabled]="errorValidateNome() || errorValidateCpf() || errorValidateTelefone()">
        Criar
    </button>
    <button class="mat-elevation-z1 container" mat-button color="accent" (click)="cancelar()">Cancelar</button>
</form>