<div class="container">
    <div class="campos">
        <mat-form-field>
            <mat-label>Técnico</mat-label>
            <mat-select [(value)]="os.tecnico">
                <mat-option *ngFor="let tec of tecnicos" value="{{ tec.id }}">{{ tec.nome }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Cliente</mat-label>
            <mat-select [(value)]="os.cliente">
                <mat-option *ngFor="let cli of clientes" value="{{ cli.id }}">{{ cli.nome }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select [(value)]="os.status">
                <mat-option value="0">ABERTO</mat-option>
                <mat-option value="1">EM ANDAMENTO</mat-option>
                <mat-option value="2">ENCERRADO</mat-option>
            </mat-select>
        </mat-form-field>


        <mat-form-field>
            <mat-label>Prioridade</mat-label>
            <mat-select [(value)]="os.prioridade">
                <mat-option value="0">BAIXA</mat-option>
                <mat-option value="1">MÉDIA</mat-option>
                <mat-option value="2">ALTA</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <form class="form">
        <mat-form-field class="full-width">
            <mat-label>Observações</mat-label>
            <textarea [(ngModel)]="os.observacao" name="observacao" matInput maxlength="255"></textarea>
        </mat-form-field>
    </form>

    <button (click)="update()" class="mat-elevation-z1" mat-button color="primary">Atualizar</button>
    <button (click)="cancelar()" class="mat-elevation-z1" mat-button color="warn">Cancelar</button>
</div>