.container {
    width: 70%;
    margin: auto;
}

.campos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.full-width {
    width: 100%;
}

textarea {
    min-height: 4rem;
    max-height: 30rem;
}

button {
    margin-bottom: 0.5rem;
}