<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">home</i> Home
            </a>
            <a mat-list-item routerLink="tecnicos">
                <i class="material-icons">work</i> Técnico
            </a>
            <a mat-list-item routerLink="/">
                <i class="material-icons">person_outline</i> Cliente
            </a>
            <a mat-list-item routerLink="/">
                <i class="material-icons">assignment</i> OS
            </a>
        </mat-nav-list>
    </mat-drawer>
    <div class="sidenav-content">
        <button type="mat-icon-button" mat-button (click)="drawer.toggle()">
      <mat-icon class="mat-18">more_vert</mat-icon>
    </button>
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>